---
import { WORKSITE, WORKS } from "~/config.mjs";

import Layout from "~/layouts/PageLayout.astro";
import BlogList from "~/components/works/List.astro";
import Pagination from "~/components/works/Pagination.astro";

import { fetchPosts } from "~/utils/works";
import { TAG_BASE } from "~/utils/workspermalinks";
import Headline from "~/components/works/Headline.astro";

export async function getStaticPaths({ paginate }) {
  if (WORKS?.disabled || WORKS?.tag?.disabled) return [];

  const workes = await fetchPosts();
  const tags = new Set();
  workes.map((works) => {
    Array.isArray(works.tags) &&
      works.tags.map((tag) => tags.add(tag.toLowerCase()));
  });

  return Array.from(tags).map((tag: string) =>
    paginate(
      workes.filter(
        (works) =>
          Array.isArray(works.tags) &&
          works.tags.find((elem) => elem.toLowerCase() === tag)
      ),
      {
        params: { tag: tag, works: TAG_BASE || undefined },
        pageSize: WORKS.workesPerPage,
        props: { tag },
      }
    )
  );
}

const { page, tag } = Astro.props;

const currentPage = page.currentPage ?? 1;
const meta = {
  title: `Posts by tag '${tag}'${
    currentPage > 1 ? ` — Page ${currentPage} ` : ""
  }`,
  description: WORKSITE.description,
  noindex: WORKS?.tag?.noindex,
};
---

<Layout meta={meta}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <dev
      style="text-shadow: 0 0 10px rgba(0, 255, 255, 0.5), 0 0 10px rgba(0, 255, 255, 0.2);"
    >
      <Headline>Tag: {tag}</Headline>
    </dev>
    <BlogList works={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
</Layout>
