---
import { WORKSITE, WORKS } from "~/config.mjs";

import Layout from "~/layouts/PageLayout.astro";
import GridList from "~/components/works/Grid.astro";
import Headline from "~/components/works/Headline.astro";
import Pagination from "~/components/works/Pagination.astro";

import { fetchPosts } from "~/utils/works";
import { WORKS_BASE } from "~/utils/workspermalinks";

export async function getStaticPaths({ paginate }) {
  if (WORKS?.disabled || WORKS?.list?.disabled) return [];
  return paginate(await fetchPosts(), {
    params: { works: WORKS_BASE || undefined },
    pageSize: WORKS.postsPerPage,
  });
}

const { page } = Astro.props;
const currentPage = page.currentPage ?? 1;

const meta = {
  title: `Blog${currentPage > 1 ? ` — Page ${currentPage}` : ""}`,
  description: WORKSITE.description,
  noindex: WORKS?.list?.noindex || currentPage > 1,
  ogType: "works",
};
---

<Layout {meta}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <dev
      class="dark:text-gray-200"
      {/*
      style="text-shadow: 0 0 10px rgba(0, 255, 255, 0.5), 0 0 10px rgba(0, 255, 255, 0.2);"
      */}
    >
      <Headline subtitle="">Works</Headline>
    </dev>
    <GridList works={page.data} />
  </section>
  <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
</Layout>
