---
import Image from "~/components/common/Image.astro";

import { WORKS } from "~/config.mjs";
import type { Works } from "~/types";

import { findImage } from "~/utils/images";
import { getPermalink } from "~/utils/workspermalinks";

import WorksTags from "~/components/works/Tags.astro";

export interface Props {
  works: Works;
}

const { works } = Astro.props;
const image = await findImage(works.image);
---

<article class="mb-8 transition">
  <div
    class="relative md:h-64 bg-gray-200 dark:bg-slate-400 border-2 border-gray-600 dark:border-gray-800"
  >
    {
      image && (
        <a href={getPermalink(works.permalink, "works")}>
          <Image
            src={image}
            class="md:object-cover w-full md:w-auto md:h-full rounded bg-gray-400 dark:bg-slate-700 rounded-md"
            widths={[400, 1080]}
            width={400}
            height={224}
            sizes="(max-width: 1080px) 400px, 1080px"
            alt={works.title}
            aspectRatio="21:9"
            loading="lazy"
            decoding="async"
          />
        </a>
      )
    }
  </div>
  <div
    class="border-t-0 border-b-2 border-l-2 border-r-2 border-gray-600 dark:border-gray-800 dark:bg-gray-800 bg-custom_bg_cream p-4"
  >
    <h3
      class="z-10 px-4 text-lg font-bold leading-tight sm:text-md font-heading"
    >
      {
        WORKS?.works?.disabled ? (
          works.title
        ) : (
          <a
            href={getPermalink(works.permalink, "works")}
            class="hover:text-primary dark:hover:text-cyan-100 transition ease-in duration-200"
          >
            {works.title}
          </a>
        )
      }
    </h3>
    <p class="px-4 text-muted dark:text-slate-400 text-sm p-2">
      {works.description}
    </p>
    <div class="px-4 text-base font-bold leading-tight sm:text-md">
      <WorksTags tags={works.tags} class="mr-5 mt-1 text-base" />
    </div>
  </div>
</article>
