---
import Grid from "~/components/works/Grid.astro";

import { getWorksPermalink } from "~/utils/workspermalinks";
import { findLatestPosts } from "~/utils/works";

export interface Props {
  title?: string;
  allPostsText?: string;
  allPostsLink?: string | URL;
  information?: string;
  worksIds: string[];
}

const {
  title = await Astro.slots.render("title"),
  allPostsText = "View all workes",
  allPostsLink = getWorksPermalink(),
  information = await Astro.slots.render("information"),
  count = 4,
} = Astro.props;

const workes = await findLatestPosts({ count });
---

<section class="mt-16 px-8 pt-16 mx-auto max-w-7xl lg:py-20">
  <div class="flex flex-col lg:justify-between lg:flex-row mb-6">
    <div class="md:max-w-sm">
      {
        title && (
          <h2
            class="text-3xl font-bold tracking-tight sm:text-4xl sm:leading-none group font-heading mb-2"
            set:html={title}
          />
        )
      }
      {
        allPostsText && allPostsLink && (
          <a
            class="text-muted dark:text-slate-400 hover:text-primary transition ease-in duration-200 block mb-6 lg:mb-0"
            href={allPostsLink}
          >
            {allPostsText} »
          </a>
        )
      }
    </div>

    {
      information && (
        <p
          class="text-muted dark:text-slate-400 lg:text-sm lg:max-w-md"
          set:html={information}
        />
      )
    }
  </div>

  <Grid works={workes} />
</section>
